# 1. Initializations

## 1.1 General imports

In [6]:
### system
import sys
import os

### data management
import pandas as pd
import numpy as np

### graphical matplotlib basics
import matplotlib.pyplot as plt
# for jupyter notebook management
%matplotlib inline
%config Completer.use_jedi = False

### graphical seaborn basics
import seaborn as sns

### graphical plotly basics
# import plotly.graph_objects as go
# import plotly.express as px

## 1.2 General dataframe functions

In [9]:
sys.path.append(os.path.abspath("../my_project"))
from my_project import dataframe_common as dfc

## 1.3 General seaborn functions

In [ ]:
sys.path.append(os.path.abspath("../my_project"))
# from my_project import seaborn_common as sbc

# 2. Loading and Data Quality

## 2.1 Loading of data sets and general exploration

### 2.1.1 NETFLIX

In [10]:
df_netflix = dfc.load_dataset_from_config('netflix_data', sep=',')

dfc.print_general_info(df_netflix)

Project directory: C:\Users\remyc\PycharmProjects\avr25-mle-velib
Relative path of data file: C:\Users\remyc\PycharmProjects\avr25-mle-velib\resources/input/netflix_titles.csv
file successfully loaded
--------------------
 This data set has 8807 rows and 12 columns
********************
--------------------
 First and last lines of the data set:
********************
  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in  \
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

                                         description
0  As her father nears the end of his life, filmm...
1  After crossing paths at a party, a Cape Town t...
2  To protect his family from a powerful drug lor...
3  Feuds, flirtations and toilet talk go down amo...
4  In a city of coaching centers known to train I...
     show_id     type        title         director  \
8802   s8803    Movie       Zodiac    David Fincher
8803   s8804  TV Show  Zombie Dumb              NaN
8804   s8805    Movie   Zombieland  Ruben Fleischer
8805   s8806    Movie         Zoom     Peter Hewitt
8806   s8807    Movie       Zubaan      Mozez Singh

                                                   cast        country  \
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

             date_added  release_year rating   duration  \
8802  November 20, 2019          2007      R    158 min
8803       July 1, 2019          2018  TV-Y7  2 Seasons
8804   November 1, 2019          2009      R     88 min
8805   January 11, 2020          2006     PG     88 min
8806      March 2, 2019          2015  TV-14    111 min

                                           listed_in  \
8802                  Cult Movies, Dramas, Thrillers
8803          Kids' TV, Korean TV Shows, TV Comedies
8804                         Comedies, Horror Movies
8805              Children & Family Movies, Comedies
8806  Dramas, International Movies, Music & Musicals

                                            description
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...
--------------------
 Quantitative variables description:
********************
       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000
--------------------
 Quantitative variables basic correlation:
********************
              release_year
release_year           1.0
--------------------
 Information:
********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB
--------------------
 Number of Row(s) with at least one NaN detection: 3475
********************
--------------------
 Number of Row(s) with only NaN detection: 0
********************
--------------------
 Number of duplicated Row(s) (Nan treated as equal): 0 unique and 0 total
********************

### 2.1.2 IMDB

In [5]:
df_imdb = dfc.load_dataset_from_config('imdb_data', sep=',')

dfc.print_general_info(df_imdb)

Project directory: C:\Users\remyc\PycharmProjects\avr25-mle-velib
Relative path of data file: C:\Users\remyc\PycharmProjects\avr25-mle-velib\resources/input/imdb.csv
file successfully loaded
--------------------
 This data set has 6178 rows and 14 columns
********************
--------------------
 First and last lines of the data set:
********************
                          Name  Date Rate    Votes  \
0               No Time to Die  2021  7.6  107,163
1                   The Guilty  2021  6.3   64,375
2    The Many Saints of Newark  2021  6.4   27,145
3  Venom: Let There Be Carnage  2021  6.4   30,443
4                         Dune  2021  8.3   84,636

                         Genre  Duration  Type Certificate Episodes    Nudity  \
0  Action, Adventure, Thriller     163.0  Film       PG-13        -      Mild
1       Crime, Drama, Thriller      90.0  Film           R        -       NaN
2                 Crime, Drama     120.0  Film           R        -  Moderate
3    Action, Adventure, Sci-Fi      97.0  Film       PG-13        -       NaN
4     Action, Adventure, Drama     155.0  Film       PG-13        -       NaN

   Violence Profanity   Alcohol Frightening
0  Moderate      Mild      Mild    Moderate
1       NaN    Severe       NaN    Moderate
2    Severe    Severe  Moderate    Moderate
3  Moderate  Moderate      Mild    Moderate
4  Moderate       NaN      Mild    Moderate
                                        Name  Date Rate    Votes  \
6173  The Human Centipede II (Full Sequence)  2011  3.8   37,492
6174                        Double Indemnity  1944  8.3  150,448
6175      Before the Devil Knows You're Dead  2007  7.3  100,668
6176                              Queen Bees  2021  6.0      887
6177                              Death Race  2008  6.3  203,578

                         Genre  Duration  Type Certificate Episodes  Nudity  \
6173                    Horror      91.0  Film   Not Rated        -  Severe
6174   Crime, Drama, Film-Noir     107.0  Film      Passed        -     NaN
6175    Crime, Drama, Thriller     117.0  Film           R        -  Severe
6176    Comedy, Drama, Romance     100.0  Film       PG-13        -     NaN
6177  Action, Sci-Fi, Thriller     105.0  Film           R        -    Mild

      Violence Profanity   Alcohol Frightening
6173    Severe    Severe      Mild      Severe
6174      Mild       NaN      Mild        Mild
6175  Moderate    Severe    Severe      Severe
6176       NaN      Mild  Moderate         NaN
6177    Severe    Severe      Mild    Moderate
--------------------
 Quantitative variables description:
********************
              Date     Duration
count  6178.000000  5877.000000
mean   2005.952574    94.576995
std      15.910248    41.765795
min    1922.000000     2.000000
25%    1998.000000    70.000000
50%    2011.000000   100.000000
75%    2019.000000   116.000000
max    2023.000000   900.000000
--------------------
 Quantitative variables basic correlation:
********************
              Date  Duration
Date      1.000000 -0.053237
Duration -0.053237  1.000000
--------------------
 Information:
********************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6178 entries, 0 to 6177
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         6178 non-null   object
 1   Date         6178 non-null   int64
 2   Rate         6178 non-null   object
 3   Votes        6178 non-null   object
 4   Genre        6178 non-null   object
 5   Duration     5877 non-null   float64
 6   Type         6178 non-null   object
 7   Certificate  5728 non-null   object
 8   Episodes     6178 non-null   object
 9   Nudity       4719 non-null   object
 10  Violence     5504 non-null   object
 11  Profanity    5520 non-null   object
 12  Alcohol      5407 non-null   object
 13  Frightening  5320 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 675.8+ KB
--------------------
 Number of Row(s) with at least one NaN detection: 3125
********************
--------------------
 Number of Row(s) with only NaN detection: 0
********************
--------------------
 Number of duplicated Row(s) (Nan treated as equal): 1150 unique and 2300 total
********************
--------------------
 Duplicated row(s) information when Nan values in columns bypassed (NaN treated as equal):
********************
     orig_index  dupl_index                                nan_columns
0          3878        5028                              [Frightening]
1          3880        5030                        [Nudity, Profanity]
2          3882        5032  [Nudity, Profanity, Alcohol, Frightening]
3          3884        5034               [Nudity, Profanity, Alcohol]
4          3886        5036                              [Frightening]
..          ...         ...                                        ...
622        5017        6167             [Nudity, Alcohol, Frightening]
623        5020        6170                              [Frightening]
624        5022        6172                                   [Nudity]
625        5024        6174                        [Nudity, Profanity]
626        5026        6176            [Nudity, Violence, Frightening]

[627 rows x 3 columns]

## 2.2 Data quality refinement

### 2.2.1 NETFLIX

In [ ]:
df_netflix_orig = df_netflix.copy()
df_netflix = df_netflix.drop_duplicates()

In [ ]:
# df_netflix = df_netflix_orig.copy()

In [ ]:
# Analysis of variable rating
dfc.print_variable_info(df_netflix.rating)
print("valeur la plus représentée :",df_netflix.rating.mode()[0])
df_netflix.rating = df_netflix.rating.fillna(df_netflix.rating.mode()[0])

In [ ]:
# Analysis of variable director
dfc.print_variable_info(df_netflix.director[:10])
print("valeur la plus représentée :",df_netflix.director.mode()[0])
# pas de changement avec la valeur la plus représentée pour ne pas altérer la répartition des données

### 2.2.1 IMDB

In [ ]:
df_imdb['averageRating'] = pd.to_numeric(df_imdb.Rate, errors='coerce')
dfc.print_variable_info(df_imdb.averageRating.sort_values(ascending=False).head(10))

df_imdb['numVotes'] = pd.to_numeric(df_imdb.Votes.str.replace(',', ''), errors='coerce')
dfc.print_variable_info(df_imdb.numVotes.sort_values(ascending=False).head(10))

df_imdb = df_imdb.drop_duplicates()

## 2.3 Data combination and rework

In [ ]:
all_content = pd.merge(df_netflix, df_imdb, left_on = ['title','release_year'], right_on = ['Name','Date'], how='inner')
display(all_content.head())
all_movies = all_content[all_content.type=='Movie'].copy()
all_movies['duration'] = all_movies.duration.apply(lambda dur: dur.replace(' min', '')).astype(int)
display(all_movies.head())

# 2. Data Viz' and Analysis

## 2.1 General Data Viz'

### 2.1.1 Seaborn

In [ ]:
sns.set_theme(style = "ticks", context = "talk", palette = "bright")

## 2.1 Quantitative mono variable distribution

### 2.1.2 Seaborn

In [ ]:
graph = sns.displot(
    data=all_movies,
    x=all_movies.averageRating.name,
    kind='hist',
    bins=15,
    kde=True,
    height=8,
    aspect=1.5
)
graph.fig.suptitle(
    'Répartition par histogramme et estimation de la densité de noyau pour averageRating',
    y=1.04,
    fontsize=20
)

plt.show()

In [ ]:
graph = sns.relplot(
    data=all_movies[(all_movies.country=='United States')&(all_movies.duration<120)],
    x=all_movies.duration.name,
    y=all_movies.averageRating.name,
    kind='line',
    height=8,
    aspect=1.5
)
graph.fig.suptitle(
    'Relation entre la durée d\'un film américain de moins de 120min et sa note moyenne IMDB',
    y=1.04,
    fontsize=20
)

plt.show()

## 2.2 Qualitative mono variable distribution

### 2.2.3 Seaborn

In [ ]:
# data extraction
directors = all_content.director.str.split(', ', expand=True).stack().reset_index(drop=True)
top_directors_list = directors.value_counts().head(8)
top_directors = pd.DataFrame(directors)
top_directors.columns = ['Director']

graph = sns.countplot(
    data=top_directors[top_directors.Director.isin(top_directors_list.index)],
    y=top_directors.Director.name, # affichage horizontal
    order=top_directors_list.index,
    hue=top_directors[top_directors.Director.isin(top_directors_list.index)].Director,
    legend=False
)
graph.axes.set_xticks(np.arange(0, 11, 2))
graph.axes.set_xlabel('Nombre de films')
graph.figure.suptitle('Nombre de film pour le top 8 des Directors', y=1.04, fontsize=20)

plt.show()

In [ ]:
# data extraction
all_content["year"] = pd.to_datetime(all_content.date_added.str.strip()).dt.year

graph = sns.catplot(
    data=all_content,
    x=all_content.year.name,
    kind='count',
    hue=all_content.type.name,
    height=6,
    aspect=1.5
)
graph.figure.suptitle('Nombre de contenu par année et par type', y=1.04, fontsize=20)

plt.show()

## 2.3 Qualitative multi variable distribution

### 2.3.3 Seaborn

In [ ]:
# data extraction
uk_movies = all_content.loc[(all_content.type=="Movie") & (all_content.country.str.contains('United Kingdom'))]
uk_series = all_content.loc[(all_content.type=="TV Show") & (all_content.country.str.contains('United Kingdom'))]

uk_movies = uk_movies.sort_values(by='numVotes', ascending=False)
uk_series = uk_series.sort_values(by='numVotes', ascending=False)

# Afficher côte à côte deux graphiques.
fig, axs = plt.subplots(figsize=(10, 8), nrows=1, ncols=2)
sns.barplot(
    data=uk_movies[:5]
    ,x=uk_movies.Name.name
    ,y=uk_movies.numVotes.name
    ,ax=axs[0]
)
sns.barplot(
    data=uk_series[:5]
    ,x=uk_series.Name.name
    ,y=uk_series.numVotes.name
    ,ax=axs[1]
)

# inclinaison des valeurs X et Y
axs[0].tick_params(axis='x', labelrotation=45)
for label in axs[0].get_xticklabels():
    label.set_ha('right')
axs[1].tick_params(axis='x', labelrotation=45)
for label in axs[1].get_xticklabels():
    label.set_ha('right')

# modification des valeurs affichées pour Y (votes)
axs[0].set_yticks(
    [0, 500000, 1000000, 1500000, 2000000, 2500000]
    ,['0', '500k', '1M', '1,5M', '2M', '2,5M']
)
axs[1].set_yticks(
    [0, 5000, 10000, 20000, 30000]
    ,['0', '5k', '10k', '20k', '30k']
)

# modification des labels X et Y
axs[0].set_xlabel("Films anglais les plus populaires")
axs[1].set_xlabel("Séries anglaises les plus populaires")
axs[0].set_ylabel("Nombre de votes")
axs[1].set_ylabel("Nombre de votes")

# ajout du titre
fig.suptitle('Top 5 des séries et films anglais les plus populaires', y=1.02, fontsize=20)

plt.tight_layout()
plt.show()

## 2.4 Quantitative multi variable correlation

### 2.4.2 Seaborn

In [ ]:
# data extraction
all_content["year"] = pd.to_datetime(all_content.date_added.str.strip()).dt.year

graph = sns.lmplot(
    data=all_content,
    x=all_content.year.name,
    y=all_content.averageRating.name,
    lowess=True,
    height=6,
    aspect=1.5
)
graph.figure.suptitle(
    'Evolution de la qualité du contenu du catalogue au fil du temps (régression linéaire par année)',
    y=1.04,
    fontsize=20)

plt.show()